[submodule "extension-ci-tools"]
	path = extension-ci-tools
	url = https://github.com/duckdb/extension-ci-tools
[submodule "vendors/duckdb-rs"]
	path = vendors/duckdb-rs
	url = https://github.com/redraiment/duckdb-rs.git
